.animated-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .animated-logo-svg {
    width: 100%;
    height: auto;
    stroke: #FF9F1A;
    fill: none;
  }
  