.checkboxContainer {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.checkboxWrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transition: all 0.2s ease;
    justify-content: center;

}

.input {
    display: none;
}

.label {
    font-size: 0.95rem;
}